:host {
  display: block;
  position: relative;
  height: 50%;
}

.container-search {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.absolute-container-interface {
  position: absolute;
  top: 0;
  padding-left: 30px;
  padding-top: 50px;
  color: var(--color-primary-contrast);
  display: flex;
  gap: 15px;
  cursor: pointer;
  h1 {
    color: var(--color-neutral-800);
  }
}

.absolute-container-interface-bottom {
  position: absolute;
  bottom: 0;
  padding: 25px;
  button {
    padding: 10px;
    cursor: pointer;
    background: var(--color-neutral-800);
    color: var(--color-primary-contrast);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    &:hover {
      background: var(--color-neutral-600);
    }
  }
}
