.titles-container {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
    padding-left: 28px;
    padding-top: 74px;
    margin-bottom: 14px;
}

.circle-button {
    margin-right: 29px;
}